@inherits LayoutComponentBase
<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<div class="page">
    <nav class="navbar">
        <a href="#" class="logo">
            <img src="elements/logo.png" alt="Zoo Logo" class="logo" />
        </a>
        <ul>
            <li><a href="/home">PLAN YOUR VISIT</a></li>
            <li><a href="/zoo">OUR ANIMALS</a></li>
            <li><a href="/hotel">LATEST NEWS</a></li>
            <li><a href="/hotel">EVENTS</a></li>
            <li><a href="/hotel">EXPERIENCES</a></li>
        </ul>
        <div class="icon-container">
            <!-- Removed the user login icon -->
        </div>
        <div class="orange-box-container">
            <a href="">
                <div class="orange-box">
                    <img src="UI/Box1.png" alt="Box 1" />
                    <div class="box-text">Join Crew</div>
                </div>
            </a>
            <a href="#">
                <div class="orange-box">
                    <img src="UI/Box2.png" alt="Box 2" />
                    <div class="box-text">Book Tickets</div>
                </div>
            </a>
        </div>
    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
